#project-body{
    height: 90vh;
}
#project-list{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#project-list > li {
    font-size: 24px;
    border: 2px solid black;
    padding: 10px;
}
#project-list > li > a {
    text-decoration: none;
    color: black;
}